<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" href="message.css">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="message.js" defer></script>
    <script src="script.js" defer></script>

    <title>Lobby - DICE1000</title>
</head>
<body style="overflow: auto;">
    <div class="wrapper fade-in priority-1">
        <flex class="absolute-top relative">
            <button class="skins-btn">
                <img src="source/dices/2.png" alt="">
                <div onclick="fetch('/leave?{{room.room_key}}', {method: 'POST'}); window.location.href = `/error?${encodeURI('Вы покинули комнату')}`">{% if room.owner_id == client.id %}Распустить комнату{% else %}Покинуть комнату{% endif %}</div>
            </button>
            <flex class="header-user">
                <flex>
                    <div class="data-username">{{client.first_name}}</div>
                    <div class="data-balance">{{client.balance}} $CHIP</div>
                </flex>
                <img src="images/{{client.avatar}}">
            </flex>
        </flex>
        <flex class="create-flex">
            <flex>
                <label for="">Название</label>
                <input type="text" class="game-name" placeholder="Лобби игрока {{client.first_name}}" value="{{room.name}}" {% if room.owner_id != client.id %}readonly{% endif %}>
                <label for="" style="margin-top: 10px;">Ставка <font>$CHIP</font></label>
                <input type="text" class="bet" placeholder="100" value="{{room.bet}}" {% if room.owner_id != client.id %}readonly{% endif %}>
            </flex>
            
            <flex class="players-wrapper">
                <label for="player-flex">Игроки</label>
                {% for player in players %}
                    <flex class="player-flex {% if player.is_owner %}gradient{% endif %}" id="player{{player.client.id}}">
                        <img src="images/{{player.client.avatar}}">
                        <flex class="player-name-wrapper">
                            {% if player.client_id == client.id %}<div class="player-role">Я</div>{% endif %}
                            <div class="player-username">{{player.client.first_name}}</div>
                        </flex>
                        <div class="data-role">{% if player.is_owner %}Хост{% else %}Игрок{% endif %}</div>
                        <div class="player-right-btn">
                            <img src="source/icons/user.svg">
                        </div>
                    </flex>
                {% endfor %}
            </flex>
        </flex>
        <flex class="absolute-bottom fade-in priority-3">
            <button class="secondary share">
                <img src="source/icons/share.svg">
                Поделиться игрой
            </button>
            {% if room.owner_id == client.id %}
            <button class="primary gradient start-game">
                <div id="players-ready"><span class="players_count">{{players|length}}</span>/{{room.player_limit}}</div>
                Начать игру
            </button>{% endif %}
        </flex>

    </div>
    <script>
        
        const eventSource = new EventSource('/listen');

        eventSource.onmessage = (e) => {
            data = JSON.parse(e.data)
            console.log(data)
            document.dispatchEvent(new CustomEvent(data['event'], {detail: data['data']}))
        };

        document.addEventListener("new_player", (msg) => {
            player = msg.detail.player
            elem = document.querySelector(".gradient.player-flex").cloneNode(true)
            elem.setAttribute("id", `player${player.id}`)
            elem.classList.remove("gradient")
            elem.querySelector("img").setAttribute("src", `images/${player.avatar}`)
            elem.querySelector(".player-username").innerText = player.name
            elem.querySelector(".data-role").innerText = "Игрок"
            elem.querySelector(".player-role").remove()
            elem.style = 'height: 0; transition-duration: .2s;opacity: 0;'

            document.querySelector(".players-wrapper").appendChild(elem)

            setTimeout(() => {
                document.querySelector(`#player${player.id}`).style.removeProperty("height")
                document.querySelector(`#player${player.id}`).style.removeProperty("opacity")
                document.querySelector(".players_count").innerText = parseInt(document.querySelector(".players_count").innerText) + 1
            }, 100)
        });
        
        document.addEventListener("leave_player", (msg) => {
            player = msg.detail.player
            document.querySelector(`#player${player.id}`).style.height = 0
            document.querySelector(`#player${player.id}`).style.opacity = 0
            document.querySelector(".players_count").innerText = parseInt(document.querySelector(".players_count").innerText) - 1
            setTimeout(() => {
                document.querySelector(`#player${player.id}`).remove()
            }, 250)
        });

        document.addEventListener("redirect", (msg) => {
            window.location.href = msg.detail.target
        });
        
        document.addEventListener("update_bet", (msg) => {
            document.querySelector(".bet").value = msg.detail.bet
        });
        
        document.addEventListener("update_name", (msg) => {
            document.querySelector(".game-name").value = msg.detail.name
        });

        // {% if room.owner_id == client.id %} // КОММЕНТ НЕ УДАЛЯТЬ

        let weitorname;

        document.querySelector(".bet").addEventListener("input", async e => {

            result = await fetch(`/game/set/bet?{{room.room_key}}`, {method: 'POST', body: JSON.stringify({bet: parseInt(document.querySelector(".bet").value)})});
            if (result.status == 400) {
                // значит сумма слишком большая
                document.querySelector(".bet").value = await result.text()
            } 
        })
        document.querySelector(".game-name").addEventListener("input", e => {
            clearTimeout(weitorname)
            weitorname = setTimeout(() => {

                fetch(`/game/set/name?{{room.room_key}}`, {method: 'POST', body: JSON.stringify({name: document.querySelector(".game-name").value})});
    
            }, 200)
        })

        document.querySelector(".start-game").addEventListener("click", e => {
            if (parseInt(document.querySelector(".players_count").innerText) <= 1) {
                message("Мало игроков!")
            }
            else {
                fetch(`/game/start?{{room.room_key}}`, {method: 'POST'})
            }
        })

        // {% endif %}

        document.querySelector(".share").addEventListener("click", e => {
            window.open(`https://telegram.me/share/url?url=https://t.me/THSdice_bot?start={{room.room_key}}&text=` + "Присоединяйся к игре!", '_blank');
        })
    </script>

</body>
</html>