*{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: "Inter", system-ui;
}
html,body{
    overscroll-behavior: none;
    touch-action: manipulation;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}
img {
    -webkit-user-drag: none; /* Отключение перетаскивания изображения в WebKit браузерах */
    user-drag: none; /* Отключение перетаскивания изображения в других браузерах */
    -webkit-touch-callout: none; /* Отключение контекстного меню при долгом нажатии */
    pointer-events: none; /* Отключение всех событий для изображения */
}

button, a {
    -webkit-tap-highlight-color: transparent; /* Отключает вспышку при нажатии */
}
.button:focus,
.button.active {
    background-color: rgba(69, 121, 255, 0.6);
    transform: scale(0.98);
}

.fade-in1 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Самая медленная анимация */
}

.fade-in2 {
    opacity: 0;
    transition: opacity 1.2s ease-in-out; /* Средняя скорость анимации */
}

.fade-in3 {
    opacity: 0;
    transition: opacity 1.8s ease-in-out; /* Самая быстрая анимация */
}

.fade-in1.show, .fade-in2.show, .fade-in3.show {
    opacity: 1;
}



/* FONTS */
h1{
    margin: 0;
    color: #575757;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}
p{
    margin: 0;
}
.wrapper{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

flex{
    display: flex;
    flex-direction: column;
}
.middle-flex{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: calc(100% - 64px);
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.loading-flex{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 306px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.loading-flex > img{
    width: 60%;
    border-radius: 50%;
}
.loading-flex > .text-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    color: #575757;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.primary, .secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    padding: 12px 14px; 
    width: 100%;
    height: 52px;

    border-radius: 18px;
    border: none;

    font-size: 16px;
    font-weight: 500;
}
.absolute-bottom{
    position: absolute;
    bottom: 32px;
    left: 32px;
    width: calc(100% - 64px);
}



.primary{
    font-size: 18px;
    font-weight: 600;

    color: #FFF;
    background: #0047ff;
}
.secondary{
    color: #4579FF;
    background: #E3EAFF;
}

.dice-absolute{
    position: absolute;
    z-index: 1000;
}
#dice-loading5{
    padding-top: 95px;
    padding-left: 170px;
    width: 132.185px;
    height: 132.185px;
    transform: rotate(-10.945deg);
    
    filter: blur(1.5px);
}
#dice-loading2{
    bottom: 92%;
    left: 22vw;
    width: 60px;
    height: 61px;

    filter: blur(3px);
}
#dice-loading1{
    left: -12vw;
    width: 61px;
    height: 61px;

    filter: blur(2px);
}
#dice-main5{
    width: 85px;
    height: 85px;
    transform: rotate(-10.945deg);

    right: -6%;
    bottom: 38%;

    filter: blur(0.8px) drop-shadow(0 7mm 2mm rgba(0, 0, 0, 0.18));
}
.fancy-create{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 6px;
    width: 100%;

    background-color: #E3EAFF;
    border-radius: 24px;
}
#dice-main1{
    width: 61px;
    height: 61px;
    left: 0;
    top: 21%;
    filter: blur(2px);
    filter: drop-shadow(0px 19px 14.8px 0px rgba(0, 0, 0, 0.07));
}
#dice-main6{
    width: 60%;
    /* transform: rotate(120deg) scaleY(-1); */
    filter:  drop-shadow(0 44px 44px rgb(249, 250, 255, 100)) drop-shadow(0px 4px 158px rgb(249, 250, 255))drop-shadow(0px 4px 158px rgb(249, 250, 255));
}